<header style="background-color: #3f51b5; color: white; padding: 1rem; display: flex; justify-content: space-between; align-items: center;">
    <div style="font-size: 1.5rem; font-weight: bold;">My Task Manager</div>
    <button mat-raised-button color="accent" (click)="logout()">Logout <mat-icon>logout</mat-icon></button>
</header>
  
  <div style="text-align: center; margin-top: 1rem;">
    <h1>Task List</h1>
  </div>
  
  <div style="text-align: center; margin: 1rem;">
    <p>Manage your tasks below. You can add, edit, or delete tasks as needed.</p>
  </div>
  
  <div style="text-align: center; margin-bottom: 1rem;">
    <button mat-raised-button color="primary" (click)="addTask()"> + Add New Task</button>
  </div>
  
  <div style="margin: 0 2rem;">
    <mat-card class="table-card">
        <mat-card-content>
            
            <table mat-table [dataSource]="tasks">
        
        
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Title </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
              
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{getStatusLabel(element.status)}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dueDate">
                  <th mat-header-cell *matHeaderCellDef> Due Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.dueDate | date:'mm:ss - dd MMM yyyy'}} </td>
                </ng-container>
              
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)="editTask(element.id)"><mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button color="primary" (click)="deleteTask(element.id)"><mat-icon>delete</mat-icon></button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
      
      
  </div>
  